@model KonferansPortal.Models.TartismaViewModel

@{
    ViewData["Title"] = "CreateTartisma";
}

<h1>Tartışma Oluştur</h1>

<h4>Tartisma</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTartisma" method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <input asp-for="KonferansId" type="hidden" class="form-control" value="@Model.KonferansId"/>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
