@model KonferansPortal.Models.Paylasim
@{
}

<h1>PaylasimEkle</h1>
<form method="post" asp-action="PaylasimEkle" enctype ="multipart/form-data">
    <div>
        <label asp-for="Title">Başlık</label>
        <input asp-for="Title" />
    </div>
    <div>
        <label asp-for="Content">İçerik</label>
        <input asp-for="Content" />
    </div>
    <div>
        <label>Dosya</label>
        <input id="fileSelector" type="file" name="file" class="form-control-file" onchange="importToHidden()" />
    </div>
    <button type="submit">Paylaşım Ekle</button>
</form>
