@model Uye

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayNameFor(model => model.Name)</h1>
<h1>@Html.DisplayNameFor(model => model.Surname)</h1>
<h4>@Html.DisplayNameFor(model => model.Email)</h4>

