@model Uye

@{
    ViewData["Title"] = "Details";
}

<div>
    <h1>@Model.Name @Model.Surname</h1>
    <h4>@Model.Email</h4>
</div>


<div>
    <a asp-action="Konferanslarim" style="margin-right: 15px;">Konferanslarım</a>
    <a asp-action="UpdateProfile">Bilgileri Guncelle</a>
</div>

