@model LoginViewModel

<form asp-action="Login" method="post">
    <div>
        <label asp-for="Email">Mail Adresi</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password">Şifre</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="checkbox">
        <label>
            <input asp-for="RememberMe" /> @Html.DisplayNameFor(m => m.RememberMe)
        </label>
    </div>

    @if (Model.ErrorMessage != null)
    {
        <div class="alert alert-danger">@Model.ErrorMessage</div>
    }
    <button type="submit" class="btn btn-primary">Giriş Yap</button>
</form>