@model LoginViewModel

<form asp-action="Login" method="post">
    <div>
        <label asp-for="Email">Mail Adresi</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password">Şifre</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="checkbox">
        <label>
            <input asp-for="RememberMe" /> @Html.DisplayNameFor(m => m.RememberMe)
        </label>
    </div>

    <button type="submit">Login</button>
</form>